<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      class="csstransforms csstransforms3d csstransitions">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Price History</div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Price</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="prod : ${productPriceHistoryList}">
                            <td th:text="${prodStat.count}">1</td>
                            <td th:text="${prod.price}">12000</td>
                            <td th:text="${displayDateFormatter.format(prod.created)}">2.41</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

</html>